@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: rgb(20, 20, 38);
    --white-color: #FFF;
}

html {
    font-family: 'Hedvig Letters Serif', serif;
}

body {
    font-size: 1.5rem;
    background: var(--dark-color);
    color: var(--white-color);
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    letter-spacing: 4px;
    height: 20%;
    border-bottom: 3px solid var(--white-color);
}

.addButton {
    position: absolute;
    right: 50px;
    bottom: 60px;
    border-radius: 50%;
    border: 3px solid var(--white-color);
    background: var(--dark-color);
    color: var(--white-color);
    width: 80px;
    height: 80px;
    font-size: 1.2rem;
    font-weight: bold;
}


